@import url(null.css);
@import url(iconfont.css);
@import url(stairways.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #1b1b1b;
}

input:focus {
  outline: none;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 35px;
  }
}

@media screen and (max-width: 586px) {
  .container {
    padding: 0 14px;
  }
}

.bg-grey {
  background-color: #f9f9f9;
}

.bg-dark-grey {
  background-color: #eaeaea;
}

@media screen and (max-width: 992px) {
  .white-media-not-large {
    background-color: white;
  }
}

.text-grey {
  color: #595959;
}

.text-13 {
  font-size: 0.813rem;
}

.text-14 {
  font-size: 0.875rem;
}

.text-15 {
  font-size: 0.938rem;
}

.text-18 {
  font-size: 1.125rem;
}

.text-20 {
  font-size: 1.25rem;
}

.text-24 {
  font-size: 1.5rem;
}

.text-30 {
  font-size: 1.875rem;
}

.text-34 {
  font-size: 2.125rem;
}

.text-light {
  font-weight: 300;
}

.text-medium {
  font-weight: 500;
}

.text-semi {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extra {
  font-weight: 800;
}

.text-no-wrap {
  white-space: nowrap;
}

.top-shadow {
  -webkit-box-shadow: 0px -2px 8px -3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px -2px 8px -3px rgba(34, 60, 80, 0.2);
}

.row-10 {
  row-gap: 10px;
}

.w-100 {
  width: 100%;
}

.green-btn {
  background-color: #32bf73;
  text-align: center;
  color: white;
}

.yellow-btn {
  background-color: #ffbb45;
  text-align: center;
  color: #1b1b1b;
}

.instagram {
  background-color: #f00073;
}

.whatsapp {
  background-color: #43d854;
}

.telegram {
  background-color: #0b9de5;
}

.viber {
  background-color: #7360f2;
}

.menu-icon {
  width: 18px;
  height: 14px;
  position: relative;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon span {
  width: 100%;
  position: absolute;
  right: 0;
  height: 15%;
  background-color: white;
}

.menu-icon::before, .menu-icon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: white;
}

.menu-icon::before, .menu-icon::after {
  content: "";
}

.menu-icon span {
  top: 50%;
  -webkit-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
}

.menu-icon::before {
  top: 0;
}

.menu-icon::after {
  bottom: 0;
}

.menu-icon._active span, .menu-icon._active::before, .menu-icon._active::after {
  visibility: hidden;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .header__container {
    row-gap: 23px;
  }
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

@media screen and (max-width: 576px) {
  .header__head {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px 0;
  }
}

@media screen and (max-width: 320px) {
  .header__head {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__head_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ffbb45;
}

@media screen and (min-width: 576px) {
  .header__head_catalog {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .header__head_catalog {
    width: 50px;
    height: 50px;
  }
}

.header__head_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #32bf73;
}

@media screen and (min-width: 576px) {
  .header__head_account {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .header__head_account {
    width: 50px;
    height: 50px;
  }
}

.header__head_account a::before {
  color: white;
}

.header__head_burger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 22px;
  background-color: #32bf73;
}

@media screen and (min-width: 992px) {
  .header__head_burger {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .header__head_burger {
    width: 50px;
    height: 50px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__head_nav {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__head_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

@media screen and (max-width: 992px) {
  .header__head_nav {
    display: none;
  }
}

.header__head_info {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

@media screen and (max-width: 992px) {
  .header__head_info {
    width: 70%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .header__head_info {
    display: none;
  }
}

.header__head_profile {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .header__head_profile {
    display: none;
  }
}

.header__head_phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
}

@media screen and (min-width: 768px) {
  .header__head_phones {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header__head_phones {
    display: none;
  }
}

.header__head_icon-phone {
  background-color: #32bf73;
  min-width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .header__head_icon-phone {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .header__head_icon-phone {
    min-width: 50px;
    height: 50px;
  }
}

.header__head_info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .header__head_info-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__head_info-item a,
.header__head_info-item span {
  padding: 0 10px;
}

.header__head_info-item::before {
  color: #32bf73;
}

.header__head_profile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__head_profile-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  padding: 20px 31px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

.header__head_profile-item a::before {
  color: #32bf73;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

@media screen and (max-width: 992px) {
  .header__content {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__content {
    display: none;
  }
}

.header__content_logo {
  width: 25%;
}

.header__content_logo-wrapper {
  max-width: 244px;
}

.header__content_logo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__content_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  column-gap: 25px;
}

@media screen and (max-width: 1230px) {
  .header__content_info {
    -webkit-column-gap: calc( 5px + 20 * ((100vw - 992px) / (1230 - 992)));
            column-gap: calc( 5px + 20 * ((100vw - 992px) / (1230 - 992)));
  }
}

@media screen and (max-width: 992px) {
  .header__content_info {
    width: 25%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__content_info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.header__content_info-item a,
.header__content_info-item span {
  padding: 0 10px;
}

.header__content_info-item::before {
  color: #32bf73;
}

@media screen and (max-width: 992px) {
  .header__content_info-item {
    width: 100%;
  }
  .header__content_info-item.desktop-hide {
    display: none;
  }
}

.header__content_info-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__content_profile {
  width: 30%;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .header__content_profile {
    width: 50%;
  }
}

.header__content_profile.col-45 {
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

.header__content_profile-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content_profile-item .green-btn {
  padding: 10px 22px;
}

.header__content_profile-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__content_cart-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f84f4f;
  position: absolute;
}

.header__content_cart {
  padding: 22px;
  background-color: #f9f9f9;
}

@media screen and (max-width: 320px) {
  .header__content_cart {
    padding: 20px;
  }
}

.header__content_cart::before {
  color: #32bf73;
}

.header__content_cart.bg-white {
  background-color: white;
}

@media screen and (min-width: 320px) {
  .header__content_cart {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .header__navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .header__navigation {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.header__navigation_cart {
  min-width: 60px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header__navigation_cart {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .header__navigation_cart {
    min-width: 50px;
    height: 50px;
  }
}

.header__navigation_cart-body {
  background-color: #ffbb45;
}

.header__navigation_cart-body::before {
  color: #1b1b1b;
}

.header__navigation_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #32bf73;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 60px;
  height: 60px;
}

.header__navigation_user a::before {
  color: white;
}

@media screen and (min-width: 768px) {
  .header__navigation_user {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header__navigation_user {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header__navigation_nav {
    display: none;
  }
}

.header__navigation_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__navigation_nav ul li:hover {
  background-color: rgba(255, 187, 69, 0.75);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__navigation_nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 31px;
}

@media screen and (max-width: 768px) {
  .header__navigation_nav-item {
    padding: 22px;
  }
  .header__navigation_nav-item a {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header__navigation_nav-item {
    display: none;
  }
}

.header__navigation_nav-item::before {
  padding-right: 5px;
}

@media screen and (max-width: 768px) {
  .header__navigation_nav-item::before {
    padding-right: 0px;
  }
}

.header__navigation_nav-active {
  padding: 22px 31px;
  background-color: #ffbb45;
}

@media screen and (max-width: 768px) {
  .header__navigation_nav-active {
    display: none;
  }
}

.header__navigation_nav-icon {
  position: absolute;
  right: 10%;
}

.header__navigation_nav-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .header__navigation_nav-icon {
    right: 5%;
  }
}

.header__navigation_nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 60px;
  height: 60px;
  background-color: #ffbb45;
}

@media screen and (min-width: 768px) {
  .header__navigation_nav-mobile {
    display: none;
  }
}

.header__navigation_search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  width: 220px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #efefef;
  padding: 0 24px;
}

.header__navigation_search input[type="text"] {
  background-color: #efefef;
}

.footer {
  margin-top: 60px;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 56px;
  padding: 36px 0;
  row-gap: 30px;
}

@media screen and (max-width: 992px) {
  .footer__navigation {
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 320px) {
  .footer__navigation {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .footer__navigation_col:first-child {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .footer__navigation_col:last-child {
    display: none;
  }
}

.footer__navigation_col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.footer__navigation_col ul.nav-list {
  row-gap: 10px;
}

.footer__navigation_col ul li {
  color: #595959;
  max-width: 285px;
}

.footer__navigation_col ul li div {
  width: 100%;
}

.footer__navigation_col ul li a {
  font-size: 0.938rem;
}

@media screen and (max-width: 586px) {
  .footer__navigation_col ul li a {
    font-size: 0.875rem;
  }
}

.footer__navigation_list-title {
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__navigation_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.footer__navigation_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 46px;
}

.footer__navigation_social a img {
  width: 26px;
  height: 26px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__small-dekstop {
  margin-bottom: 29px;
}

.footer__small-dekstop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__small-dekstop ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
}

@media screen and (max-width: 586px) {
  .footer__small-dekstop ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.footer__small-dekstop ul li:first-child div {
  max-width: 246px;
}

@media screen and (max-width: 768px) {
  .footer__small-dekstop ul li:first-child {
    display: none;
  }
}

.footer__small-dekstop ul li:nth-child(2) {
  display: none;
  max-width: 210px;
}

.footer__small-dekstop ul li:nth-child(2) span {
  color: #595959;
  font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
  .footer__small-dekstop ul li:nth-child(2) {
    display: inline-block;
  }
}

@media screen and (max-width: 320px) {
  .footer__small-dekstop ul li:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .footer__small-dekstop ul li:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .footer__small-dekstop {
    display: none;
  }
}

.footer__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
}

@media screen and (max-width: 992px) {
  .footer__pay {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer__pay {
    -webkit-column-gap: 33px;
            column-gap: 33px;
  }
}

@media screen and (max-width: 586px) {
  .footer__pay {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__pay_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media screen and (max-width: 768px) {
  .footer__pay_col:first-child, .footer__pay_col:nth-child(2) {
    -ms-flex-preferred-size: calc(50% - 66px);
        flex-basis: calc(50% - 66px);
  }
}

@media screen and (max-width: 768px) {
  .footer__pay_col:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 307px;
  }
}

.footer__pay_col:first-child a {
  white-space: nowrap;
  font-size: 0.813rem;
}

@media screen and (max-width: 576px) {
  .footer__pay_col:first-child a {
    font-size: 0.875rem;
  }
}

.footer__pay_col:first-child a:last-child {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer__pay_col:first-child a:last-child {
    display: inline-block;
    margin-top: 8px;
  }
}

@media screen and (max-width: 576px) {
  .footer__pay_col:first-child a:last-child {
    display: none;
  }
}

.footer__pay_col:nth-child(2) {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
}

@media screen and (max-width: 576px) {
  .footer__pay_col:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .footer__pay_col a {
    max-width: 200px;
    font-size: 0.938rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__pay_col:last-child {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .footer__pay_col:last-child {
    display: inherit;
  }
}

@media screen and (max-width: 576px) {
  .footer__pay_col:last-child a {
    font-size: 0.875rem;
  }
}

.footer__pay_btn {
  background-color: #32bf73;
}

.footer__pay_btn a {
  width: 62px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .footer__cart {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 586px) {
  .footer__cart {
    display: none;
  }
}

.footer__cart_col:first-child {
  padding-left: 20px;
  padding-right: 43px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  margin-right: 40px;
}

.footer__cart_col a.yellow-btn {
  padding: 10px 34px;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */